{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.12.1"}
        clj-gpui/clj-gpui {:git/url "https://github.com/gitwyrm/clj-gpui.git"
                           :git/sha "d87137c4f9d06d0b8e3c27483cf8828f3b7149b6"}}
 ;; For framework hacking, replace the git dep with:
 ;;   clj-gpui/clj-gpui {:local/root "../clj-gpui"}
 :aliases
 {:dev {:main-opts ["-m" "gpui.dev" "cljdu.app/app"]}
  :test {:extra-paths ["test"]
         :main-opts ["-m" "cljdu.test-runner"]}
  :cljfmt {:extra-deps {dev.weavejester/cljfmt {:mvn/version "0.16.5"}}
           :main-opts ["-m" "cljfmt.main"]}
  :connect {:main-opts ["-m" "nrepl.cmdline"
                        "--connect"
                        "--host" "127.0.0.1"
                        "--port" "7888"]}
  :build {:extra-deps {io.github.clojure/tools.build {:mvn/version "0.10.10"}}
          :ns-default gpui.package
          :exec-fn gpui.package/package}}}
